@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


body{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding:30px;

    background-image: url("https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
}

.main-container{
    display:flex;
    flex-direction: column;

    width:60%;
    height:auto;

    margin: auto;
    padding:40px;

    border-radius:20px;
    box-shadow: 0px 0px 30px grey;

    background-color:white;
}


.center-stuff-upload{

    
    width: 900px;
    height:auto;
    margin: 0;
    border-style:solid;
    border-width: 0px;
}

input {
    border-width:1px;
    border-radius:10px;
    padding:10px;
}

textarea {
    border-width:1px;
    border-radius:10px;
    padding:10px;
}


.footer-container{
    margin: auto;
}

.nav-container{
    margin: auto;
}

label{
    color:white;
    margin:auto;
}

img{
    display:inline;
    max-height: 100%;
    width: auto;
    border-radius:30px;
}

a {
    text-decoration: none;
    color:black;
}

li{
    display: inline;
    list-style-type: none;
    padding: 20px;
}

form{
    margin:auto;
}

h1{

    font-family: Times New Roman;
    font-style: italic;
    font-weight: 200;
    font-size: 60px;
}

h2{
    margin:auto;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: 200;
    font-size: 70px;
    padding:20px;
}


p{

}

.right-center-side{
    padding:20px;
}

.log-in-button{
    padding: 5px 30px;
    border-radius: 10px;

    border: 0px;
    font-family:Montserrat;

    background-color: black;
    color:white;

}

.log-in-text{
    color: white;
}

.sign-up-button{

    padding: 5px 30px;
    border-radius: 10px;

    border: 0px;
    font-family:Montserrat;

    background-color: white;
}

.title-image{
    padding:5px;
    font-family: 'Montserrat', sans-serif;
}

.image-itself{
    width:200px;
    height:200px;
}

.gallery-button{
    padding: 5px 30px;
    border-radius: 10px;

    border: 0px;
    font-family:Montserrat;

    background-color: whitesmoke;
    color:black;
}

.center-user-stuff{
    display:flex;
    flex-direction:column;
    margin:auto;

    width:900px;

    border-style:solid;
    border-width: 2px;
    border-radius:30px;
    gap:10px;
    background-color: #141414;
}

.user-button{
    padding: 5px 30px;
    border-radius: 10px;

    border: 0px;
    font-family:Montserrat;

    background-color: whitesmoke;
    color:black;
}